@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 20%;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:3px 0px grey;
}

.sidebar a {
  width: 100%;
  text-decoration: none;
  color: #1DA1F2 ;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  
}

.sidebar a:hover {
  background-color: #1DA1F2;
  color:white;
}
/* End Sidebar */

/* Posts */
.posts {
  margin-left:20%;
  width: 60%;
  min-height: 100vh;
  background-color: #1DA1F2;
  display: flex;
  flex-direction: column;
}

.post {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px grey;
  
}

.post h5 {
  padding-left: 5px;
}

.post p {
  padding-left: 20px;
}

.form label {
  display: block;
}

.form {
  width: 100%;
  height: 25vh;
  background-color: #1DA1F2;
  text-align: center;
}

.tweet-btn {
  display: block;
  position: relative;
  left: 90%;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background-color:#1DA1F2;
  color: white;
  border: 1px solid white;
  padding: 4px;
  cursor: pointer;
  border-radius: 7px;

}

.tweet-btn:enabled:hover {
  background-color: white;
  color: #1DA1F2
}


.tweet-btn:disabled {
  border: 1px solid lightgrey;
  background-color: lightgrey;
  cursor:default;
}

.tweet {
  width: 95%;
  height: 70%;
  margin-top: 10px;
  border: none;
  background-color:#F5F8FA;
  resize: none;
  outline: none;
  padding: 10px;
  font-family: inherit;
  box-shadow: 3px 3px grey;
  border-radius: 10px;

}

/*End Posts*/

/*Login Signup*/

.form-container {
  width: 100vw;
  height: 100vh;
  background-color: #1DA1F2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  background-color: white;
  height: 520px;
  width: 500px;
  border-radius: 10px;
}

.signuplogin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  position: relative;
  background-color: white;  
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}

.signuplogin-form input {
  width: 100%;
  padding: 10px;
  font-family: inherit;
  border-radius: 5px;
  border-style: none;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
  margin-right: 2px;
  margin-left: 2px;
}

.signuplogin-btn {
  background-color: #AAB8C2;
}
.signuplogin-btn:hover {
  background-color: #1DA1F2;
  color: white;
  cursor: pointer;
}

.form-wrapper h2 {
  margin-top: 30px;
  background-color: white;
  text-align: center;
}